
.home-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.sign-up {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    flex: 1;
    margin: 0.5rem;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid white;
    transition: color 500ms ease-out, 
                background-color 500ms ease-out, 
                border-color 500ms ease-out;

    &--icon {
        display: flex;
        font-size: 4rem;
        font-weight: 300;
    }

    &--text {
        padding-left: 1rem;
        font-size: 2rem;
    }

    &:hover {
        background-color: goldenrod;
        color: black;
        border-color: black;
    }
}

.graph {
    width: 100%;
    //margin-top: 2rem;
    // height: 50vh;
    //background-color: black;
}

.winners {
    display: flex;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.winning {
    &-category {
        font-size: 1rem;
    }

    &-movie {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        background-color: goldenrod;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media screen and (max-width: 800px) {
    .button {
        padding: 0.5rem;

        &--text {
            font-size: 1rem;
        }
    }
}