<div class="login-container">
    <div class="title">
        {{ data.title }}
    </div>
    <div class="entry-fields">
        <div class="labels">
            <div class="username">
                USERNAME
            </div>
            <div class="pin">
                PIN
            </div>
            @if (!data.isLogin) {
                <div class="pin">
                    CONFIRM PIN
                </div>
            }
        </div>
        <div class="inputs">
            <div class="username-input">
                <input 
                    type="text" 
                    name="name"
                    minlength="4"
                    maxlength="12"
                    #name="ngModel"
                    [(ngModel)]="username">
            </div>
            <div class="pin-input">
                <input 
                    type="tel" 
                    maxlength="4" 
                    #PIN="ngModel"
                    [(ngModel)]="pin">
            </div>
            @if (!data.isLogin) {
                <div class="pin-input">
                    <input 
                    type="tel" 
                    maxlength="4"
                    #confirmPIN="ngModel" 
                    [(ngModel)]="confirmPin">
                </div>
            }
        </div>
    </div>
    @if (error) {
        <div class="error">
            {{ errorMessage }}
        </div>
    }
    <div class="enter">
        <div class="enter--button" (click)="submit()">
            ENTER
        </div>
    </div>
</div>