.chart-formatting {
    padding: 2vw;
    ::ng-deep {
        .jqx-chart-axis-text  
        {
           color: white;
        }

        .jqx-chart-title-text 
        {
           color: white;
        }

    }
}