.chart-formatting {
    padding: 2vw;
    ::ng-deep {
        .jqx-chart-axis-text  
        {
           stroke: white;
           color: white;
        }

        .jqx-chart-title-text {
            stroke: white;
           color: white;
        }
    }
}