:host {
    display: flex;
    justify-content: center;
}

@mixin selected-movie {
    background-color: goldenrod;
    color: black;
    border-color: black;
}

.category {
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 3rem;

    &--title {
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: 300;
    }
}

.entry-container {
    padding: 3rem;
}

.back-button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: -1rem;
}

.category {
    display: flex;
    color: white;
    flex-direction: column;
    margin-bottom: 3rem;

    &--title {
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: 300;
    }
}

.movie {
    cursor: pointer;
    margin: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1rem;
    transition: color 500ms ease-out,
                background-color 500ms ease-out,
                border-color 500ms ease-out;

    &:hover {
        @include selected-movie;
    }

    &--text {

        &-title {
            font-weight: 200;
        }

    }
}

.selected {
    @include selected-movie;
}

.submit-button {
    margin: 4rem;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem;
    border: 1px solid white;
    transition: color 500ms ease-out,
                background-color 500ms ease-out,
                border-color 500ms ease-out;

    &:hover {
        @include selected-movie;
    }
}

@media screen and (max-width: 800px) {
    .entry-container {
        padding: 0.25rem;
    }

    .category--title {
        font-size: 1.5rem;
    }

    .movie {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}